<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- Navigation Fragment -->
    <div th:fragment="navigation" class="navigation-header">
        <div class="nav-container">
            <div class="nav-links">
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <a href="/logout" class="nav-link">Logout</a>
            </div>
        </div>
    </div>

    <!-- Common CSS Link Fragment -->
    <th:block th:fragment="common-styles">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </th:block>
</body>
</html>
